<ul class="list-group my-4">

  <li *ngFor="let person of persons" class="list-group-item d-flex">

    <a routerLink="/detail/{{person.id}}" class="flex-fill">
      <span class="badge">{{person.id}}</span> {{person.givenName}} {{person.familyName}}
    </a>

    <button class="btn btn-danger btn-sm" title="Delete Person" (click)="delete(person)">Delete</button>

  </li>

</ul>

<div class="input-group">

  <input type="text" class="form-control" placeholder="Neue Person" #personName>
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="add(personName.value); personName.value=''">Hinzufügen</button>
  </div>

</div>

<!--app-person-detail [person]="selectedPerson"></app-person-detail-->
