<form novalidate (ngSubmit)="onSubmit(form.value)" [formGroup]="form" class="example-form">
    <div *ngFor="let prop of objectProps; let i = index" class="form-group">
      <label [attr.for]="prop">{{prop.label}}</label>
      <div [ngSwitch]="prop['@type'] || prop.key">
        <mat-form-field *ngSwitchCase="'text'" class="example-full-width">
            <input
            matInput
            [formControlName]="prop.key"
            [id]="prop.key" [type]="prop.type"
            type="text">
        </mat-form-field>
        <div *ngSwitchCase="'birthDate' || 'date'">
          <mat-form-field> 
            <input class="example-full-width"
              matInput
              [min]="minDate" 
              [max]="maxDate"
              [matDatepicker]="picker"
              placeholder="Current birthdate."
              [formControlName]="prop.key"
              [id]="prop.key">
            <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div *ngSwitchCase="'address'"
          [id]="prop.key"
          class="form-group">
          <label>{{objectProps[0][0].label}}</label>
            <!--{{objectProps[0][0].label | json}}-->
          <ul *ngFor="let element of nestedObjectProps; let j = index">
            <mat-form-field>
                <label [attr.for]="element">{{element[j+1].label}}</label>
                <div>
                  <input
                    matInput
                    [id]="element"
                    value='{{element[j+1].value}}'
                    [formControlName]=""
                    [type]="element['@type']"
                    type="text">
                </div>
            </mat-form-field>
          </ul>
        </div>
      </div>
      <div class="error alert alert-danger" *ngIf="form.get(prop.key).invalid && (form.get(prop.key).dirty || form.get(prop.key).touched)">
        <div *ngIf="form.get(prop.key).errors.required">
          {{prop.label}} is required.
        </div>
        <div *ngIf="form.get(prop.key).errors.minlength">
            {{prop.label}} should contain not less than {{prop.validation.minlength}} characters.
        </div>
        <div *ngIf="form.get(prop.key).errors.maxlength">
            {{prop.label}} should contain not more than {{prop.validation.maxlength}} characters.
        </div>
      </div>
    </div>
    <br />
    <p>
      <button (click)="save()" type="submit">Save</button>
      <button (click)="goBack()">Go back</button>
    </p>
  </form>
  <hr />
  
  <!--div>
    <h2>Template </h2>
    <ui-tree [data]="data" [key]="key"></ui-tree>
  </div-->