<h2>Person Form</h2>
<h3><i>Formcontrol in a FormGroup</i></h3>

{{diagnostic}}
<form [formGroup]="personFormComp" (ngSubmit)="onSubmit()">
    <div id="vorname" class="form-group">
      <label class="center-block">Vorname:
        <input class="form-control" type="text" formControlName="vorname" required>

      </label>
    </div>
    
    <div id="name" class="form-group">
        <label class="center-block">Name:
          <input class="form-control" type="text" formControlName="name" required>

        </label>
      </div>
    <div id="geburtsdatum" class="form-group">
        <label class="center-block">Geburtsdatum:
          <input class="form-control" type="text" formControlName="geburtsdatum" required>

        </label>
    </div>
    <button type="submit" class="btn btn-success" (click)="updateProfile()" [disabled]="!personFormComp.valid">Hinzufügen</button>
</form>
<p>Form value: {{ personFormComp.value | json }}</p>
<p>Form status: {{ personFormComp.status | json }}</p>
<p>Birth value: {{ personFormComp.get('geburtsdatum').value}}</p>