<ng-container *ngIf="person">

  <div class="my-4">
    <h3>
      <small>JSON-Objekt mit LD-Informationen</small>
    </h3>
    <pre class="text-white bg-dark"><code>{{ person | json }}</code></pre>
  </div>

  <div class="my-4">
    <h3>
      <small>JSON-Objekt (Expanded)</small>
    </h3>
    <pre class="text-white bg-dark">
        <code>{{ docExpand | json }}</code>
    </pre>
  </div>

  <div class="my-4">
    <h3>
      <small>JSON-Objekt (Compacted)</small>
    </h3>
    <pre class="text-white bg-dark"><code>{{ docCompact | json }}</code></pre>
  </div>

  <div class="my-4">
    <h3>
      <small>Lokal hinzugefügter JSON-Objekt Context</small>
    </h3>
    <pre class="text-white bg-dark"><code>{{ context | json }}</code></pre>
  </div>

</ng-container>
