<app-jsonld-input></app-jsonld-input>

<div *ngIf="person" class="my-4">

  <h3>Abgeleitetes Formular</h3>

  <form>

    <div class="form-group">
      <label for="personType">Type</label>
      <input [(ngModel)]="person.type" class="form-control" id="personType" name="personType" placeholder="@Person">
    </div>

    <div class="form-group">
      <label for="personGivenName">Given Name</label>
      <input [(ngModel)]="person.givenName" class="form-control" id="personGivenName" name="personGivenName" placeholder="@Person">
    </div>

    <div class="form-group">
      <label for="personFamilyName">Family Name</label>
      <input [(ngModel)]="person.familyName" class="form-control" id="personFamilyName" name="personFamilyName" placeholder="@Person">
    </div>

    <div class="form-group">
      <label for="personBirthDate">Birthdate</label>
      <input [(ngModel)]="person.birthDate" type="date" class="form-control" id="personBirthDate" name="personBirthDate" placeholder="@Person">
    </div>
    <button (click)="goBack()">Go back</button>
    <button (click)="save()">Save</button>

  </form>
</div>